
# Ignore the Python virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore generated data files
*.csv

# Ignore sensitive files (if you ever add any)
.env
# Ignore PyInstaller build files and folders
dist/
build/
*.spec